<!DOCTYPE HTML>
<html>
<head>
<title>SINATRA AT THE MOVIES</title>
<link rel="stylesheet" href="/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
</head>
<body>
	<div id = "container">
	<%= yield %>
	</div>
</body>
</html>