<h1>Enter a new movie!</h1>
<form action = "/movies" method = "post">
<p>Title: <input type = "text" name = "title"></p>
<p>Director: <input type = "text" name = "director"></p>
<p>Rating: <select name="rating">
	<option value="1">1 star</option>
	<option value="2">2 stars</option>
	<option value="3">3 stars</option>
	<option value="4">4 stars</option>
	<option value="5">5 stars</option>
</select>
<p><input type = "submit" /></p>
</form>
