
<div id = "left_col">
<h1>SINATRA AT THE MOVIES</h1>
<a class = "button" href = "/movies" >Back to all movies</a>
</div>

<div id = "right_col">
<form action = "/movies" method = "post">
<h1>Enter a new movie:</h1>

	<label>Title:</label>
	<input type = "text" name = "title">

	<label>Director:</label>
	<input type = "text" name = "director">

	<label>Rating:</label>
	<select name="rating">
		<option value="1">1 star</option>
		<option value="2">2 stars</option>
		<option value="3">3 stars</option>
		<option value="4">4 stars</option>
		<option value="5">5 stars</option>
	</select>
	
	<button type = "submit">Submit</button>
</form>
</div>